<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxia.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.sanxia.po.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_hours" jdbcType="INTEGER" property="courseHours" />
    <result column="course_book" jdbcType="VARCHAR" property="courseBook" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, course_name, course_hours, course_book
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanxia.po.Course">
    insert into course (id, uuid, course_name, 
      course_hours, course_book)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, 
      #{courseHours,jdbcType=INTEGER}, #{courseBook,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanxia.po.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseHours != null">
        course_hours,
      </if>
      <if test="courseBook != null">
        course_book,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseHours != null">
        #{courseHours,jdbcType=INTEGER},
      </if>
      <if test="courseBook != null">
        #{courseBook,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanxia.po.Course">
    update course
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseHours != null">
        course_hours = #{courseHours,jdbcType=INTEGER},
      </if>
      <if test="courseBook != null">
        course_book = #{courseBook,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanxia.po.Course">
    update course
    set uuid = #{uuid,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_hours = #{courseHours,jdbcType=INTEGER},
      course_book = #{courseBook,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryCouresList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course
  </select>
</mapper>