<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxia.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.sanxia.po.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="leaf" jdbcType="BIT" property="leaf"/>
        <result column="parentId" jdbcType="INTEGER" property="parentid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, url, name, leaf, parentId,role_uuid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.sanxia.po.Menu" useGeneratedKeys="true" keyProperty="id">
    insert into menu (id, uuid, url, 
      name, leaf, parentId)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{leaf,jdbcType=BIT}, #{parentid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.sanxia.po.Menu" useGeneratedKeys="true" keyProperty="id">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="leaf != null">
                leaf,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="leaf != null">
                #{leaf,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sanxia.po.Menu">
        update menu
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="leaf != null">
                leaf = #{leaf,jdbcType=BIT},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sanxia.po.Menu">
    update menu
    set uuid = #{uuid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=BIT},
      parentId = #{parentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--&lt;!&ndash;查询所有无父节点的节点&ndash;&gt;-->
    <!--<select id="findMenuItemList" resultType="com.sanxia.po.Menu">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from menu m where m.parentId='0'-->
    <!--</select>-->


    <resultMap type="com.sanxia.po.Menu" id="menuItemMaps">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="leaf" jdbcType="BIT" property="leaf"/>
        <result column="parentId" jdbcType="INTEGER" property="parentid"/>
        <result column="role_uuid" jdbcType="VARCHAR" property="roleUuid"/>
        <collection property="children" ofType="com.sanxia.po.Menu" select="getLeafMenu" column="id">
        </collection>
    </resultMap>



    <select id="findMenuItemList" resultMap="menuItemMaps" parameterType="com.sanxia.po.Role">
		SELECT
        <include refid="Base_Column_List"/>
		FROM menu m where m.parentId='0' and m.role_uuid=#{uuid}
	</select>

    <select id="getLeafMenu" parameterType="int" resultType="com.sanxia.po.Menu">
		select
        <include refid="Base_Column_List"/>
        FROM menu m where m.parentId=#{id}
	</select>

</mapper>